<div class="description">
	<div class="description__body">
		<div class="description__top clearfix">
			<div class="description__count">0</div>
			<div class="description__info">До 470 символов</div>
		</div>
		<div class="description__wrapper">
			<textarea class="description__text">{{ description }}</textarea>
		</div>
	</div>
	{% include 'tip/tip.njk' %}
</div>