{% set list = [
	{
		"title": "О страховом депозите и предоплате за последний месяц", 
		"link": "/build/article.html",
		"image": "../images/article1.jpg", 
		"date": "12 фев 2017", 
		"filter": ["депозит"], 
		"text": "Размер страхового депозита должен быть прописан в договоре, равно как и условия его возврата арендатору. Приложением к договору может идти передаточный акт с описью всего имущества, сохранность которого попадает под депозит. В особых случаях приложением к договору найма могут идти цветные фотографии ремонта и отделки. ", 
		"sotial": [
			{"type": "fb", "views": "31"}, 
			{"type": "vk", "views": "241"}, 
			{"type": "ok", "views": "87"}
		]
	},
 	{
 		"title": "Вот такие вот карточки",  
		"link": "/build/article.html",
 		"image": "../images/article2.jpg", 
 		"date": "12 фев 2017", 
 		"filter": ["договор"], 
 		"text": "Получается, что в каждом посте, у нас есть заглавная картинка, и первый вводный абзац текста. Вот именно они то нам и нужны нам для анонса на странице всех карточек. У них будет разный размер, и они очень органично будут на ней стоять.", 
 		"sotial": [
 			{"type": "fb", "views": "31"}, 
 			{"type": "vk", "views": "241"}, 
 			{"type": "ok", "views": "87"}
		]
	},
	{
		"title": "Стоит ли заморачиваться за ремонт в счет квартплаты?",  
		"link": "/build/article.html",
		"image": "../images/article3.jpg", 
		"date": "12 фев 2017", 
		"filter": ["советы съемщикам"], 
		"text": "Белогорская крепость находилась в сорока верстах от Оренбурга. Дорога шла по крутому берегу Яика. Река еще не замерзала, и ее свинцовые волны грустно чернели в однообразных берегах, покрытых белым снегом. За ними простирались киргизские степи.  Гарнизонная жизнь мало имела для меня привлекательности. Я старался вообразить себе капитана Миронова, моего будущего начальника, и пред-ставлял его строгим, сердитым стариком", 
 		"sotial": [
 			{"type": "fb", "views": "31"}, 
 			{"type": "vk", "views": "241"}, 
 			{"type": "ok", "views": "87"}
		]
	},
	{
		"title": "Смотрите, кот!",  
		"link": "/build/article.html",
		"image": "../images/article4.jpg", 
		"date": "12 фев 2017", 
		"filter": ["аренда"], 
		"text": "Я застал его в саду. Он осматривал яблони, обнаженные дыханием осени, и с помощию старого садовника бережно их укутывал теплой соломой. Лицо его изображало спокойствие, здоровье и добродушие. Он мне обрадовался и стал расспрашивать об ужасных происшествиях, коим я был свидетель. Я рассказал ему все. Слушал меня со вниманием и отрезывал сухие ветви.", 
 		"sotial": [
 			{"type": "fb", "views": "31"}, 
 			{"type": "vk", "views": "241"}, 
 			{"type": "ok", "views": "87"}
		]
	},
	{
		"title": "А вот тут что-то про семинары, и всякое такое", 
		"link": "/build/article.html", 
		"image": "../images/article5.jpg", 
		"date": "12 фев 2017", 
		"filter": ["советы съемщикам"], 
		"text": "Я откланялся. Урядник привел меня в избу, стоявшую на высоком берегу реки, на самом краю крепости. Половина избы занята была семьею Семена Кузова, другую отвели мне. Она состояла из одной горницы довольно опрятной, разделенной надвое перегородкой. Савельич стал в ней распоряжаться; я стал глядеть в узенькое окошко. Передо мною простиралась печальная степь. Наискось стояло несколько избушек; по улице бродило несколько куриц. ", 
 		"sotial": [
 			{"type": "fb", "views": "31"}, 
 			{"type": "vk", "views": "241"}, 
 			{"type": "ok", "views": "87"}
		]
	},
	{
		"title": "А вот тут, про мороженки вдруг",  
		"link": "/build/article.html",
		"image": "../images/article6.jpg", 
		"date": "12 фев 2017", 
		"filter": ["аренда"], 
		"text": "Получается, что в каждом посте, у нас есть заглавная картинка, и первый вводный абзац текста. Вот именно они то нам и нужны нам для анонса на странице всех карточек. У них будет разный размер, и они очень органично будут на ней стоять.", 
 		"sotial": [
 			{"type": "fb", "views": "31"}, 
 			{"type": "vk", "views": "241"}, 
 			{"type": "ok", "views": "87"}
		]
	}
]%}

<ul class="article-list">
	{% for article in list %}
		<li class="article-list__item">
			{% include 'article/article.njk' %}
		</li>
	{% endfor %}
</ul>