{% extends "base/base.njk" %}

{% set page = {
	"title": "О&nbsp;страховом депозите и&nbsp;предоплате за&nbsp;последний месяц",
	"image": "../images/article.jpg"
} %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
	<div class="article-wrapper">
		<div class="article-wrapper__top">
			<a href="/build/articles.html" class="article-wrapper__back">Статьи о недвижимости</a>
			<div class="page__title">{{ page.title }}</div>
			<div class="article-wrapper__likes">
				{% include 'share/share.njk' %}
			</div>
		</div>
		<div class="article-wrapper__image">
			<img src="{{ page.image }}" class="article-wrapper__img" alt="{{ page.title }}" />
		</div>
		<div class="page__wrapper clearfix">
			{% include 'aside/aside.njk' %}
			<div class="page__main">
				{% include 'text/text.njk' %}
				<div class="article-wrapper__bottom clearfix">
					<a href="/build/articles.html" class="article-wrapper__back">Назад к статьям</a>
					<div class="article-wrapper__share">
						{% include 'share/share.njk' %}
						<div class="article-wrapper__views">
							<span class="article-wrapper__views-icon">
								<svg width="28" height="18">
									<use xlink:href="#icon-views"></use>
								</svg>
							</span>
							<span class="article-wrapper__views-text">150 просмотров</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article-wrapper__filter">
			{% include 'main-filter/main-filter.njk' %}
		</div>
	</div>
{% endblock %}

