{% set filter = {
	"startPrice": 14000,
	"finishPrice": 21000
}%}

<form class="main-filter" action="#" method="get">
	<div class="main-filter__header clearfix">
		<div class="main-filter__toggle">
			<a href="#" class="main-filter__toggle-link main-filter__toggle-link_extended">Расширенный поиск</a>
			<a href="#" class="main-filter__toggle-link main-filter__toggle-link_normal">Обычный поиск</a>
		</div>
		<div class="main-filter__head">
			{% set filterTitle = "Найти жилье на" %}
			{% include 'filter/head-filter.njk' %}
		</div>
	</div>
	<div class="main-filter__body">
		<div class="main-filter__body-top">
			{% include 'filter/base-filter.njk' %}
			<div class="main-filter__whitespace">
				<div class="main-filter__input">
					<input type="text" class="inp" placeholder="10000" value="{{ filter.startPrice }}" />
				</div>
				<div class="main-filter__input-text">₽ -</div>
				<div class="main-filter__input">
					<input type="text" class="inp" placeholder="20000" value="{{ filter.finishPrice }}" />
				</div>
				<div class="main-filter__input-text">₽</div>
			</div>
		</div>
		<div class="main-filter__body-extended">
			<a href="#fancy-area" class="main-filter__area main-filter__type fancybox-link">
				<span class="btn btn_border main-filter__area-default">Выберите районы</span>
				<span class="btn btn_gradient main-filter__area-active">
					<span class="btn__text">Выберите районы (<span class="main-filter__area-count">0</span>)</span>
					<span class="btn__icon">
						<svg width="12" height="12">
							<use xlink:href="#icon-delete"></use>
						</svg>
					</span>
				</span>
			</a>
			<span class="main-filter__or">или</span>
			<div class="input-clear main-filter__address main-filter__type">
				<input type="text" class="inp input-clear__input" name="address"  placeholder="Введите адрес дома, или улицу"/>
				<a href="#" class="input-clear__delete">
					<svg width="12" height="12">
						<use xlink:href="#icon-delete"></use>
					</svg>
				</a>
			</div>
			<span class="main-filter__or">или</span>
			<a href="#" class="btn btn_border btn_border_dashed main-filter__map main-filter__type">Обведите область на карте</a>
		</div>
		<div class="main-filter__body-bottom clearfix">
			<a href="#" class="btn btn_transparent main-filter__add-word">
				<span class="btn__icon">
					<svg width="12" height="12">
						<use xlink:href="#icon-plus"></use>
					</svg>
				</span>
				<span class="btn__text">Добавить ключевые слова</span>
			</a>
			<div class="input-clear main-filter__input-word">
				<input type="text" class="inp input-clear__input" />
				<a href="#" class="input-clear__delete">
					<svg width="12" height="12">
						<use xlink:href="#icon-delete"></use>
					</svg>
				</a>
			</div>
			<input type="submit" class="btn btn_gradient main-filter__submit" value="НАЙТИ ЖИЛЬЕ!">

			<div class="main-filter__info">Цены на сайте будут показаны с учетом коммунальных платежей</div>
		</div>
	</div>
</form>