<div class="text">
	<p><big>Страховой депозит - это денежная сумма, которую арендатор передает собственнику и которая идет в счет обеспечения возмещения возможного ущерба арендуемому имуществу. Говоря проще - депозит - это гарантия для собственника, что ремонт, ценная мебель и техника в квартире останутся в том же состоянии, что и при заселении арендатора. С учетом естественного износа, разумеется.</big></p>
	<p>Размер страхового депозита должен быть прописан в договоре, равно как и условия его возврата арендатору. Приложением к договору может идти передаточный акт с описью всего имущества, сохранность которого попадает под депозит. В особых случаях приложением к договору найма могут идти цветные фотографии ремонта и отделки. Обычно размер страхового депозита равен месячной арендной ставке (или меньше), взимается он при заключении договора одним платежом, либо с рассрочкой в несколько месяцев.</p>
	<h2>Предоплата за последний месяц аренды</h2>
	<p>это денежная сумма, стимулирующая арендатора воздержаться от досрочного расторжения договора и прожить весь срок, прописанный в договоре. Данная сумма взимается с арендатора собственником при заключении договора найма, является невозвратной и, в некоторых случаях, может сразу же быть передана собственником риэлтору, в качестве оплаты услуг за поиск арендаторов. Как правило эта предоплата за последний месяц аренды составляет половину месячной арендной ставки и в последний месяц съема - арендатор заплатит сумму, уменьшенную на размер той предоплаты за последний месяц, которую он заплатил при заключении договора с собственником.</p>
	<figure>
	    <img src="../images/text1.jpg" alt="" />
	    <figcaption>
	    	<p>
	    		Фрай скоро скажет:<br>
				«Shut um and take my money»<br>
				А это был комментарий к картинке.<br>
				Картинку, к слову, не стоит<br>
				делать большего размера
			</p>
	    </figcaption>
   	</figure>
   	<p>Размер суммы предоплаты за последний месяц аренды (также как и размер суммы страхового депозита) обязательно должен быть прописан в договоре, а факт передачи денег собственнику должен подтверждаться соответствующими документами - распиской или платежным поручением.</p>

	<p>Также собственникам следует знать, что большинство людей, снимающих жилье, особенно класса эконом - не имеет возможности (или желания) платить вперед сумму большую, чем стандартный месячный платеж по аренде. И, выставляя "предоплату за последний месяц" обязательным условием - вы, также как и при выставлении требования о страховом депозите - существенно сужаете себе круг потенциальных арендаторов, которые могут заинтересоваться вашим вариантом.</p>

	<figure>
	    <img src="../images/text2.jpg" alt="" />
	    <figcaption>
	    	<p>Хах, я же говорил!</p>
	    	<p>
				Никита, я не читал этот текст,
				и мне кажется, нет никого,
				кто прочитал бы его, и был,
				к примеру, способен пересказать
				его содержания. Знаю, что ты не можешь сдержать писательский талант, по этому, хоть отбивай картинками такой текст
			</p>
	    </figcaption>
   	</figure>
   	<h3>Задаток —</h3>
   	<p>это денежная сумма, которую платит арендатор для "бронирования" понравившегося ему варианта в случае, если на сегодняшний день он по каким-то причинам не может в этот вариант заселиться. К примеру, если там еще пока проживают предыдущие арендаторы. Задаток лучше всего вносить по предварительному договору найма жилого помещения, т.е. по договору о намерении в дальнейшем заключить основной договор найма жилого помещения.</p>
   	<blockquote>И бац! Основная мысль такая, с отбивкой. И сразу не хочется умереть, читая кучу обзацев подробностей, о различных видах платежей. </blockquote>
   	<p>Такой предварительный договор можно заключать и с агентством недвижимости, но только в том случае, если у агентства есть соответствующая доверенность от собственника. Причем если эта доверенность только "на принятие залога в интересах собственника по договору оказания услуг" - она может быть и в простой письменной, не нотариальной форме, но в этом случае вам лучше запросить у риэлтора почитать и сам договор между агентством недвижимости и собственником.</p>
   	<figure>
	    <iframe width="100%" height="410" src="https://www.youtube.com/embed/pN3oap3WEms" frameborder="0" allowfullscreen></iframe>
	    <figcaption>
	    	<p>Посмотрите пока видео, что-ли</p>
	    </figcaption>
   	</figure>
   	<br>
   	<h4>Частые вопросы и ответы:</h4>
   	<dl>
		<dt>Собственник не хочет возвращать сумму страхового депозита и предлагает просто лишний месяц пожить квартире бесплатно.</dt>
		<dd>Если изначально этот вариант был прописан в договоре найма и вы на него согласились - собственник вполне может поступить подобным образом. Но если о таком варианте изначально не было и речи - вы в полном праве требовать возврата вам указанной суммы. Если, конечно, вы действительно не хотите продлить безвозмездно договор найма еще на один месяц (или иной срок по соглашению сторон).</dd>
	</dl>
</div>