{% set list = {
	"count": {
		"commission": 48,
		"noCommission": 50
	},
	"list": [
		{
			"number": "24346781",
			"link": "#", 
			"image": [
				"../images/list1.png",
				"../images/list2.png",
				"../images/list3.png",
				"../images/list4.png",
				"../images/list5.png",
				"../images/list6.png"
			],
			"time": "Только-что",
			"address": "Ленина, 41",
			"price": {
				"base": "25 500",
				"summer": "2500",
				"winter": "4500"
			},
			"type": "2-х комнатная",
			"area": "Академгородок",
			"text": "Сдам квартиру, около УПИ, чистая, свежий ремонт, пластиковые окна выходят во двор. Стиральная машинка, интернет, телефон, очень теплая.",
			"profile": {
				"name": "Алина Николаевна",
				"messagers": [
					{"type": "fb", "link": "#"},
					{"type": "vk", "link": "#"}
				],
				"verified": false,
				"phone": "+7 900 000 00 00"
			}
		},
		{
			"number": "24346781",
			"link": "#", 
			"image": [
				"../images/list2.png",
				"../images/list3.png",
				"../images/list4.png",
				"../images/list5.png",
				"../images/list6.png"
			],
			"time": "Час назад",
			"address": "2000 лет Января, 64",
			"price": {
				"base": "17 500"
			},
			"type": "2-х комнатная",
			"area": "ЖБИ",
			"text": "Просторная светлая квартира окнами выходит на лес. У Парка, все рядом",
			"profile": {
				"name": "Алефтина Игоревна",
				"messagers": [
					{"type": "vk", "link": "#"},
					{"type": "viber", "link": "#"},
					{"type": "telegram", "link": "#"},
					{"type": "whatsapp", "link": "#"}
				],
				"verified": false,
				"phone": "+7 900 000 00 00"
			}
		},
		{
			"number": "24346781",
			"link": "#", 
			"image": [
				"../images/list3.png",
				"../images/list4.png",
				"../images/list5.png",
				"../images/list6.png"
			],
			"time": "Сегодня, 15:16",
			"address": "Академика Бардина, 21",
			"price": {
				"base": "18 500",
				"summer": "2500",
				"winter": "4500"
			},
			"type": "2-х комнатная",
			"area": "ЖБИ",
			"text": "Чистая квартира. Можно с детьми, можно с животными. Магазины и транспорт в шаговой доступности. Квартира сдается впервые.",
			"profile": {
				"name": "Людмила Петровна",
				"messagers": [
					{"type": "vk", "link": "#"},
					{"type": "ok", "link": "#"}
				],
				"commission": "Комиссия за заселение 4500",
				"verified": true,
				"phone": "+7 900 000 00 00"
			}
		},
		{
			"number": "24346781",
			"link": "#", 
			"image": [
				"../images/list4.png",
				"../images/list5.png",
				"../images/list6.png"
			],
			"time": "Вчера, 15:16",
			"address": "Куйбышева, 74",
			"price": {
				"base": "17 500",
				"summer": "2500",
				"winter": "4500"
			},
			"type": "2-х комнатная",
			"area": "ЖБИ",
			"text": "Просторная светлая квартира окнами выходит на лес. У Парка, все рядом",
			"profile": {
				"name": "Алефтина Игоревна",
				"messagers": [
					{"type": "vk", "link": "#"}
				],
				"verified": true,
				"phone": "+7 900 000 00 00"
			}
		},
		{
			"number": "24346781",
			"link": "#", 
			"image": [
				"../images/list5.png",
				"../images/list6.png"
			],
			"time": "Позавчера, 15:16",
			"address": "Академика Бардина, 21",
			"price": {
				"base": "18 500",
				"summer": "2500",
				"winter": "4500"
			},
			"type": "2-х комнатная",
			"area": "ЖБИ",
			"text": "Чистая квартира. Можно с детьми, можно с животными. Магазины и транспорт в шаговой доступности. Квартира сдается впервые.",
			"profile": {
				"name": "Людмила Петровна",
				"messagers": [
					{"type": "vk", "link": "#"},
					{"type": "ok", "link": "#"}
				],
				"commission": "Комиссия 4 500 ₽",
				"verified": false,
				"phone": "+7 900 000 00 00"
			}
		},
		{
			"number": "24346781",
			"link": "#", 
			"image": [
				"../images/list6.png",
				"../images/list1.png",
				"../images/list2.png",
				"../images/list3.png",
				"../images/list4.png",
				"../images/list5.png"
			],
			"time": "26 окт, 15:16",
			"address": "Воеводина, 4",
			"price": {
				"base": "18 500",
				"summer": "2500",
				"winter": "4500"
			},
			"type": "2-х комнатная",
			"area": "ЖБИ",
			"text": "Чистая квартира. Можно с детьми, можно с животными. Магазины и транспорт в шаговой доступности. Квартира сдается впервые.",
			"profile": {
				"name": "Людмила Петровна",
				"messagers": [
					{"type": "vk", "link": "#"},
					{"type": "ok", "link": "#"}
				],
				"commission": "Комиссия 4 500 ₽",
				"verified": false,
				"phone": "+7 900 000 00 00"
			}
		}
	],
	"inserts": [
		{"after": 3, "type": "statistic"},
		{"after": 5, "type": "info"}
	]
}%}

<div class="list">
	<div class="list__head">
		<form class="list__form form__radio-group" action="#" method="get">
			<div class="form__radio">
				<input type="radio" name="duration" id="duration1" />
				<label class="form__radio-label" for="duration1">За час</label>
			</div>
			<div class="form__radio">
				<input type="radio" name="duration" id="duration2" checked/>
				<label class="form__radio-label" for="duration2">6 часов</label>
			</div>
			<div class="form__radio">
				<input type="radio" name="duration" id="duration3" />
				<label class="form__radio-label" for="duration3">Сутки</label>
			</div>
			<div class="form__radio">
				<input type="radio" name="duration" id="duration4" />
				<label class="form__radio-label" for="duration4">Неделя</label>
			</div>
		</form>
		<div class="list__title">
			{{ list.count.commission + list.count.noCommission }} объявлений, {{ list.count.commission }} — с комиссией, {{ list.count.noCommission }} — без
		</div>
	</div>
	<ul class="list__list">
		{% for item in list.list %}
			<li class="list__item">
				<a href="{{ item.link }}" class="list__item-link">
					<span class="list__item-preview">
						{% if item.image %}
							<img src="{{ item.image[0] }}" class="list__item-image" />
						{% else %}
							<img src="../images/list-nophoto.png" class="list__item-image" />
						{% endif %}
						<span class="list__item-count">{{ item.image.length }} фото</span>
						<span class="list__item-time">{{ item.time }}</span>
					</span>
				</a>
				<div class="list__item-body">
					<a href="{{ item.link }}" class="list__item-link-body">
						<span class="list__item-head">
							<span class="list__item-line">
								<span class="list__item-address">{{ item.address }}</span>
								<span class="list__item-price">{{ item.price.base }} ₽</span>
							</span>
							<span class="list__item-line">
								<span class="list__item-info">{{ item.type }}, {{ item.area}}</span>
								{% if item.price.summer or item.price.winter %}
									<span class="list__item-communal">
										+{{ item.price.summer }} к/у летом, {{item.price.winter }} зимой
									</span>
								{% else %}
									<span class="list__item-сommunal">к.у. включены в цену</span>
								{% endif %}
							</span>
						</span>
						<span class="list__item-description">{{ item.text }}</span>
					</a>
				</div>
				<div class="list__favorites">
					<input type="checkbox" name="favorites" class="list__favorites-input" />
					<label for="favorites" class="list__favorites-label">
						<svg role="img" class="list__favorites-img" width="21" height="20">
							<use xlink:href="#icon-favorites"></use>
						</svg>
					</label>
				</div>
				<div class="list__item-profile">
					<div class="list__item-agent-info">
						{% if item.profile.verified %}
							<div class="list__item-verified">
								<svg role="img" class="list__verified-img" width="18" height="18">
									<use xlink:href="#icon-verified"></use>
								</svg>
							</div>
						{% endif %}
						<div class="list__item-name">{{ item.profile.name }}</div>
						<ul class="list__item-messagers">
							{% for messager in item.profile.messagers %}
								<li class="list__item-messager">
									<a href="{{ messager.link }}" class="list__item-messager-link">
										<svg role="img" class="list__messager-img" width="18" height="18">
											<use xlink:href="#icon-{{ messager.type }}"></use>
										</svg>
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="list__item-agent">
						Агент 
						{% if item.profile.commission %}
							({{ item.profile.commission }})
						{% else %}
							(без комиссии)
						{% endif %}
					</div>
					<div class="list__item-phone">{{ item.profile.phone }}</div>
					<div class="list__item-number">№ {{ item.number }}</div>
				</div>
			</li>
			{% set index = loop.index %}
			{% if list.inserts %}
				{% for insert in list.inserts %}
					{% if insert.after == index %}
						<li class="list__insert">
							{% set path = insert.type + "/" + insert.type + ".njk" %}
							{% include path %}
						</li>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	</ul>
</div>