{%set filter = {
	"accommodation": [
		{"value": "all", "text": "Любое"},
		{"value": "apartment", "text": "Квартира", "checked": true},
		{"value": "room", "text": "Комната"},
		{"value": "house", "text": "Дом"},
		{"value": "bed", "text": "Койко-место"}
	],
	"countRoom": [
		{"value": "Студия", "text": "Студия"},
		{"value": "1", "text": "1 - комнатная", "checked": true},
		{"value": "2", "text": "2 - комнатная", "checked": true},
		{"value": "3", "text": "3 - комнатная"},
		{"value": "4+", "text": "4+ - комнатная"}
	],
	"isolated": [
		{"value": "1", "text": "1 изолированная комната"},
		{"value": "2", "text": "2 изолированные комнаты"},
		{"value": "3", "text": "3 изолированные комнаты"},
		{"value": "4+", "text": "4+ изолированных комнат"}
	]
}%}

<div class="form__radio-group main-filter__accommodation">
	{% for item in filter.accommodation %}
		<div class="form__radio">
			<input type="radio" name="accommodation" id="accommodation{{ loop.index }}" value={{ item.value }} {% if item.checked %}checked{% endif %} />
			<label class="form__radio-label" for="accommodation{{ loop.index }}">{{ item.text }}</label>
		</div>
	{% endfor %}
</div>
<div class="select-checkbox main-filter__select-checkbox">
	<div class="select-checkbox__title">
		<span>
			{% set index = 0 %}
			{% set selectTitle = '' %}
			{% set countable = false %}
			{% for item in filter.countRoom %}
				{% if item.checked %}
					{% set index = index + 1 %}
					{% if index > 1 %}
						{% set selectTitle = selectTitle + ', '%}
					{% endif %}
					{% set selectTitle = selectTitle + item.value %}
					{% if item.value != "Студия" %}
						{% set countable = true %}
					{% endif %}
				{% endif %}
			{% endfor %}
			{{ selectTitle }}
			{% if countable %} - комнатная {% endif %}
		</span>
	</div>
	<div class="select-checkbox__popup">
		{% for item in filter.countRoom %}
			<div class="select-checkbox__line">
				<input type="checkbox" name="countRoom" id="countRoom{{ loop.index }}" value="{{ item.value }}" {% if item.checked %}checked{% endif %} />
				<label class="select-checkbox__label" for="countRoom{{ loop.index }}">{{ item.text }}</label>
			</div>
		{% endfor %}
	</div>
</div>
<select class="select main-filter__select" name="isolated">
	{% for item in filter.isolated %}
		<option value="{{ item.value }}" {% if item.checked %}selected{% endif %}>{{ item.text }}</option>
	{% endfor %}
</select>