<div class="tip">
	<a href="#" class="tip__delete"></a>
	<div class="tip__title">Совет:</div>
	<div class="tip__body">{{ tip }}</div>
	<div class="tip__bottom clearfix">
		<a href="#" class="tip__hide">Не показывать</a>
		<a href="#" class="tip__next">Следующий совет</a>
	</div>
</div>